// _599.scss

@media only screen and (max-width: 599px) {

h3 {
	font-size: 1.8rem;
	line-height: 1;
	margin: 0 0 0.5rem 0;
}


.main-content {
	max-width: 48rem;
	padding: 0 1rem;

	.row {

		.featured-content {
			width: 100%;

			.featured-deal {

				.deal-image {
					height: 23rem;
				}
			}
		}

		.secondary-content {
			width: 100%;
			margin: 0;

			.internal-ad {
				height: 23rem;
				width: 100%;
				float: left;
				margin: 0 0 1rem 0;
			}

			.secondary-deal {
				width: 100%;
				float: left;
				margin: 0 0 -0.6rem 0;

				.deal-image {
					height: 23rem;
				}
			}
		}

		&.deals-with-circles {
			width: 100%;
			height: auto;
			margin: 0;

			.circle {
				left: 9rem;
			}

			.promo {
				margin: 0 0 1rem 0;

				&:nth-of-type(1) {
					width: 100%;
				}
			}

			.blog {
				width: 100%;
				float: left;
				margin: 0 0 1rem 0;
			}

			.blog + .promo {
				width: 100%;

				.circle {
					left: 9rem;
				}
			}
		}

		footer {

			.footer-headline {
				width: 38rem;

				h3 {
					height: 100%;
					overflow: hidden;					
				}
			}
		}		
	}

	.row-of-deals {

		.secondary-deal {

			.deal-image {
				height: 23rem;
			}
		}
	}	

	.big-deal {

		.featured-content {

			.featured-deal {

				footer {
					height: 6rem;
					margin: 0;

					p {
						display: none;
					}
				}
			}
		}

		.secondary-content {

			.secondary-deal {
				margin: 0;
				width: 100%;
				float: left;
			}

			.internal-ad {
				height: 23rem;

				.circle {
					left: 9rem;
				}

				&.footer-option {
					height: 18rem;

					.circle {
						transform: scale(0.65) translateY(-7.6rem);	
					}
				}
			}
		}
	}
}


.secondary-deal {

	.footer-option {
		position: relative;
	    top: -5.8rem;
	    background-color: rgba(255,255,255,0.75);
	    padding: 1rem !important;
	    margin-bottom: -6rem;
	}
}

} 