/*
Travel Zoo Moblie Prototype
designed and developed by Hard Candy Shell
www.hardcandyshell.com
@hardcandyshell
*/

// variables
$blue: #0078ef;
$yellow: #ffed20;
$red: #f24636;
$grey: #a4a4a4;
$super-light-grey: #f1f1f1;
$open-sans: 'Open Sans', sans-serif;


// imports

@import 'base';
@import 'universal';
@import 'typography';
@import 'home';
/*
@import '768';
@import '660';
@import '320';
@import 'fonts';
*/
